* {
    background-color: black;
    font: arial;
    color: white;
}

.timeline-div {
    display: flex;
    margin: auto;
    width: 100%;
    padding-top: 20px;
    border: 2px solid white;
}

.target {
    align-self: flex-end;
    color: white,
}

.popover {
    background-color: white;
    padding: 5px;
    color: black;
}