* {
    background-color: black;
    font-family: arial;
    color: white;
}

/* .everything {
    position: relative;
} */

.timeline-div {
    display: flex;
    margin-top: 100px;
    width: 100%;
    padding-top: 100px;
    border: 2px solid white;
    /* position: absolute; */
}

.target {
    align-self: flex-end;
    padding: 1px;
}

.popover {
    background-color: white;
    padding: 5px;
    color: black;
    text-align: center;
    border: 1px solid rgb(151, 151, 255);
    border-radius: 10%;
}